{% extends 'Accounts/base.html' %}
{% block content %}

        <div class="container shadow bg-white mt-5  ">



                    <h1 class=" mb-4" >
                        Your big idea starts here.
                    </h1>
                    <p class="mb-2 " >
                        Meet your new sidekick. The powerful tool that helps you create something special.
                    </p>
                    <a href="#" class="btn btn-primary mb-4 " >
                        Explore Design
                    </a>

        </div>

{% endblock %}